manifest {
    mainScript = 'main.nf'
}

//
// Parameters Configuration - These settings specify parameters and
//                            can thus can have an effect on the results

params {
    
    // determines which processes to run
    flow = "fastqc,star,sort,index,miso,rnaseqc,multiqc"

    // output directory
    output = "/mnt/xomics/maxd/data"

    // directory with annotation files
    libDir = "/home/maxd/dm1-splicing/lib"

    // input sequences [FASTQ or FASTQ.GZ]
    inDir = "$baseDir/example/fastq/*{1,2}.fastq.gz"

    // which genome, transcriptome, and annotation to use
    species = "human"

    // MultiQC Location
    multiqc = "$baseDir"

}

//
// Profile Configuration - These setting are location/harware specific and
//                         should not have any effect on the results

profiles {

  noggo {
    executor.name = 'local'
    executor.cpus = 70
    executor.memory = 1000.GB
  }
  
  narrativum {
    executor.name = 'local'
    executor.cpus = 100
    executor.memory = 800.GB
  }
}

